

<div class="login-form" fxLayout="column" fxLayoutAlign="center center">
    <h3 fxLayout="row" fxLayoutAlign="center center">Schnell & Schnell</h3>
    <form [formGroup]="form" >
        <div fxLayout="row">
            <mat-form-field class="username" fxFlex>
                <mat-label>Username</mat-label>
                <input matInput type="email" formControlName="username">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field class="password" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" [disabled]="form.invalid" (click)="login()">Login</button>
        </div>
    </form>
 
</div>