
<form class="login-form" [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
    <h3>Schnell & Schnell</h3>
    <mat-form-field class="username">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
    </mat-form-field>
    <mat-form-field class="password">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-stroked-button color="primary">Login</button>
</form>